version: "3"
services:
  neo4j:
    image: neo4j:${SOFTWARE_VERSION_TAG}
    container_name: neo4j
    restart: always
    environment:
      #   SECURE_FILE_PERMISSIONS=yes
      - NEO4J_AUTH=neo4j/${ADMIN_PASSWORD}
    ports:
      - "172.17.0.1:27651:7474"
      - "172.17.0.1:53621:7687"
      - "27687:7687"
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
      - ./neo4j/conf:/conf
      - ./neo4j/plugins:/plugins
